<section class="shorten_link">
  <h2>Make your links manageable</h2>
  <%= render 'layouts/new_link' %>
</section>

<% unless session[:shrinked_links].nil? %>
  <section class="list_links">
  	<h2>Your links</h2>
  	<% session[:shrinked_links].each do |link| %>
  		 <div class="url">
      		<%= url_field_tag :given_url, slug_redirect_url(link["slug"]), :class => "field field-url", :disabled => "true" %>
      		<%= link_to link_path(link["id"]), html_options = {class: "field btn-url", id: "link_slug",} do %>
        		<i class="fa fa-eye"></i>
		    <% end %>
		</div>
  	<% end %>
  <% end %>
</section>



