<div class="title">
  <h1>Last links</h1>
  <% @top_links.each do |link| %>
    <p><%= link.given_url %></p>
    <p class="title"><%= truncate(link.title, length: 60) %></p>
    <p class="short_url"><%= link_to @base_url+"/"+link.slug, link.slug, target: '_blank' %></p>
  <% end %>
</div>



